<app-navbar></app-navbar>

<div class="hero bg-[#F9F8FE] min-h-[70vh]">
    <div class="w-[95%] flex items-center justify-evenly">
      <div>
        <h1 class="text-5xl font-bold text-[#0F3090] text-wrap w-[50%]">Box Office News!</h1>
        <p class="py-6 text-xl text-[#222222] text-wrap w-[50%]">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <button class="btn bg-[#FFBB0D] hover:bg-[#FFBB0D] !border-[#FFBB0D] text-lg text-[#222222]">Get a Free Quote</button>
      </div>
      <div class="pr-[15%] relative">
        <img src="../../../assets/ityellowicon.svg" alt="Description" class="max-w-[150%]" />
        <img src="../../../assets/Desktop 2.svg" alt="Description" class="absolute top-[20%] right-[30%]" />
    </div>
    </div>
</div>
<div class="flex flex-col gap-[15vh] items-center">
    <h1 class="text-4xl font-bold text-[#222222] text-wrap">Our ideas<span class="text-[#FFBB0D] text-4xl">OUTSIDE OF THE BOX</span></h1>
    <div class="grid grid-cols-4 gap-x-[7%] w-[90%] m-auto">
        <div class="card bg-base-100 w-96 shadow-xl w-[90%] m-auto">
            <figure class="relative min-h-[80px] overflow-visible">
              <img
                src="../../../assets/Idea.png"
                alt=""
                class="absolute top-[-70px] z-50" />
            </figure>
            <div class="card-body gap-y-[3vh]">
              <h2 class="card-title self-center">Customized Solutions</h2>
              <p class="text-pretty text-center">Lorem Ipsum is simply dummy text of the printing urvived not only five Lorem Ipsum </p>
            </div>
        </div>
        <div class="card bg-base-100 w-96 shadow-xl w-[90%] m-auto">
            <figure class="relative min-h-[80px] overflow-visible">
              <img
                src="../../../assets/Analize.png"
                alt=""
                class="absolute top-[-70px] z-50" />
            </figure>
            <div class="card-body gap-y-[3vh]">
              <h2 class="card-title self-center">Customized Solutions</h2>
              <p class="text-pretty text-center">Lorem Ipsum is simply dummy text of the printing urvived not only five Lorem Ipsum </p>
            </div>
        </div>
        <div class="card bg-base-100 w-96 shadow-xl w-[90%] m-auto">
            <figure class="relative min-h-[80px] overflow-visible">
              <img
                src="../../../assets/Folder.png"
                alt=""
                class="absolute top-[-70px] z-50" />
            </figure>
            <div class="card-body gap-y-[3vh]">
              <h2 class="card-title self-center">Customized Solutions</h2>
              <p class="text-pretty text-center">Lorem Ipsum is simply dummy text of the printing urvived not only five Lorem Ipsum </p>
            </div>
        </div>
        <div class="card bg-base-100 w-96 shadow-xl w-[90%] m-auto">
            <figure class="relative min-h-[80px] overflow-visible">
              <img
                src="../../../assets/Start Up.png"
                alt=""
                class="absolute top-[-70px] z-50" />
            </figure>
            <div class="card-body gap-y-[3vh]">
              <h2 class="card-title self-center">Customized Solutions</h2>
              <p class="text-pretty text-center">Lorem Ipsum is simply dummy text of the printing urvived not only five Lorem Ipsum </p>
            </div>
        </div>
    </div>
</div>
<div class="hero bg-[#F9F8FE] min-h-[70vh]">
    <div class="w-[95%] flex items-center justify-evenly">
        <div class="pl-[5%] relative">
            <img src="../../../assets/Desktop 2.svg" alt="Description" class="max-w-[300%]" />
        </div>

      <div class="pl-[30%] flex flex-col gap-y-[15px]">
        <h1 class="text-5xl font-bold text-[#222222] text-wrap w-[50%]">Why <span class="text-[#FFBB0D]">US</span></h1>
        <h1 class="text-2xl font-bold text-[#222222] text-wrap w-[50%]">Box Office News!</h1>
        <p class="py-6 text-xl text-[#222222] text-wrap w-[50%]">
          Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
          quasi. In deleniti eaque aut repudiandae et a id nisi.
        </p>
        <div class=" grid grid-cols-5 grid-rows-2 gap-x-[10%]">
            <div class="flex items-center col-span-2">
                <img src="../../../assets/Agenda.png" alt="">
                <p class="text-[#222222]">Lorem Ipsum is </p>
            </div>
            <div class="flex items-center col-span-2">
                <img src="../../../assets/Mouse Idea.png" alt="">
                <p class="text-[#222222]">Lorem Ipsum is </p>
            </div>
            <div class="flex items-center row-start-2 col-span-2">
                <img src="../../../assets/Team Work.png" alt="">
                <p class="text-[#222222]">Lorem Ipsum is </p>
            </div>
            <div class="flex items-center row-start-2 col-span-2">
                <img src="../../../assets/Target Audience.png" alt="">
                <p class="text-[#222222]">Lorem Ipsum is </p>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="flex flex-col gap-[15vh] items-center">
    <h1 class="text-4xl font-bold text-[#222222] text-wrap">Our <span class="text-[#FFBB0D] text-4xl">Services</span></h1>
    <div class="flex items-center justify-center pl-[10%] m-auto bg-[#0F3090] min-h-[60vh]">
        <div class="flex flex-col relative">
            <div class="flex gap-x-[15px] absolute top-[-10vh]">
                <button class="btn btn-circle bg-[#FFFFFF]">
                    <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.38029 7.02344L16.4551 7.02344" stroke="#0F3090" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.45996 13.049L1.3798 7.025L7.45996 1" stroke="#0F3090" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                </button>
                <button class="btn btn-circle bg-[#FFFFFF]">
                    <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="origin-center rotate-180">
                        <path d="M1.38029 7.02344L16.4551 7.02344" stroke="#0F3090" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.45996 13.049L1.3798 7.025L7.45996 1" stroke="#0F3090" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>                        
                </button>
            </div>
            <h1 class="text-2xl font-bold text-[#FFFFFF] text-wrap w-[50%] leading-10">Box Office News!</h1>
            <p class="py-6 text-xl text-[#FFFFFF] text-wrap w-[50%] leading-10">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                quasi. In deleniti eaque aut repudiandae et a id nisi.
            </p>
        </div>
        <div class="grid grid-cols-3 gap-x-[5%]">
            <div class="card bg-base-100 w-96 shadow-xl w-[90%] m-auto">
                <figure class="relative min-h-[80px] overflow-visible">
                  <img
                    src="../../../assets/Vector.png"
                    alt=""
                    class="absolute top-[-70px] z-50" />
                </figure>
                <div class="card-body gap-y-[3vh]">
                  <h2 class="card-title self-center">Graphic Design</h2>
                  <p class="text-pretty text-center">Lorem Ipsum is simply dummy text of the printing urvived not only five Lorem Ipsum </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-xl w-[90%] m-auto">
                <figure class="relative min-h-[80px] overflow-visible">
                  <img
                    src="../../../assets/Mouse Idea (1).png"
                    alt=""
                    class="absolute top-[-70px] z-50" />
                </figure>
                <div class="card-body gap-y-[3vh]">
                  <h2 class="card-title self-center">UX/UI</h2>
                  <p class="text-pretty text-center">Lorem Ipsum is simply dummy text of the printing urvived not only five Lorem Ipsum </p>
                </div>
            </div>
            <div class="card bg-base-100 w-96 shadow-xl w-[90%] m-auto">
                <figure class="relative min-h-[80px] overflow-visible">
                  <img
                    src="../../../assets/Layer.png"
                    alt=""
                    class="absolute top-[-70px] z-50" />
                </figure>
                <div class="card-body gap-y-[3vh]">
                  <h2 class="card-title self-center">Web Development</h2>
                  <p class="text-pretty text-center">Lorem Ipsum is simply dummy text of the printing urvived not only five Lorem Ipsum </p>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="flex flex-col gap-[15vh] items-center py-[10vh]">
    <div class="flex flex-col items-center gap-[2vh]">
        <h1 class="text-4xl font-bold text-[#222222] text-wrap">STATISTICS<span class="text-[#FFBB0D] text-4xl">ABOUT US</span></h1>
    <p class="text-pretty text-center">
        Lorem Ipsum is simply dummy text of the Lorem Ipsum is simply dummy text of the
    </p>
    </div>
    <div class="w-[80%] m-auto flex justify-center items-center">
        <div style="background-image: url(../../../assets/Group\ 57480.png)" 
        class="flex justify-center items-center bg-[#F1F0FA] rounded-full w-[300px] h-[300px] bg-no-repeat bg-center">
            <div class="flex flex-col justify-center items-center">
                <span class="text-[#FFBB0D]  text-4xl font-bold">362</span>
                <span class="text-4xl text-[#FFFFFF]">Projects</span>
            </div>
        </div>
        <img src="../../../assets/Group 57420.png" alt="">
        <div class="flex justify-center items-center bg-[#F1F0FA] rounded-full w-[300px] h-[300px]">
            <div class="flex flex-col justify-center items-center">
                <span class="text-[#FFBB0D]  text-4xl font-bold">362</span>
                <span class="text-4xl text-[#222222]">Projects</span>
            </div>
        </div>
        <img src="../../../assets/Group 57420.png" alt="">
        <div class="flex justify-center items-center bg-[#F1F0FA] rounded-full w-[300px] h-[300px]">
            <div class="flex flex-col justify-center items-center">
                <span class="text-[#FFBB0D]  text-4xl font-bold">362</span>
                <span class="text-4xl text-[#222222]">Awards</span>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>